@import 'vars';

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Lato", sans-serif;
}
.center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
}
.head {
    background: black;
    display: flex;
    justify-content: space-between;
    &_head1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    gap: 20px;
    }
    &_head2 {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20%;
    gap: 20px;
    }
}

.sample {
    height: 148px;
    padding-left: 230px;
    
    color: #636363;
    background-color: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_head {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-decoration-skip-ink: none;
        color: $colorText;
        transition: transform 3s ease, box-shadow 3s ease;
        } 
        &_head:hover {
        color: #5b71e0;
        transform: translateY(-1px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
        background-color: #dfe6e9;
        }
    &_link {
        font-size: 14px;
        font-weight: 300;
        line-height: 16.8px;
        text-decoration: none;
        color: rgba(99, 99, 99, 1);
    }

    // &_link:last-of-type {
    //     font-weight: 300;
    //     font-size: 14px;
    //     color:  red;
    //     text-decoration: none;
    //     line-height: 16.8px;
    // }
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start; 
    gap: 40px; 
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 96px;
    padding-bottom: 0px;
}
.container_1 {
    gap: 40px; 
    }

.block {
    text-align: center; 
    &_img { 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
        display: flex;
        width: 600px; 
        height: 306px;
        margin-bottom: 40px;
        &_fotomen {
            height: 100%;
            }
        &_part1 {
            display: flex;
            justify-items: center;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            }
        }
    &_adress {
        padding: 10px;
        width: 360px; /* Задает ширину блока 30% */
        height: 272px;
        text-align: left;
        &_ship {
            margin: 15px 0;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            }
        &_city {    
            margin: 15px 0;
            border: 1px solid #A4A4A4;
            font-family: Lato;
            font-size: 13px;
            font-weight: 400;
            line-height: 15.6px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            &_bang {
                gap: 100px;
                font-family: Lato;
                font-size: 13px;
                font-weight: 400;
                line-height: 15.6px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
        &_post {
            font-family: Lato;
            font-size: 11px;
            font-weight: 400;
            line-height: 13.2px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            text-decoration-color: rgba(74, 74, 74, 1);

            width: 30%;
            border: 1px solid #A4A4A4
        }
    }
    &_price {
        width: 360px; 
        height: 214px;
        background: rgba(245, 243, 243, 1);
        display: grid;
        justify-content: center;
        &_sub {
            padding-top: 36px;
            font-size: 11px;
            font-weight: 400;
            line-height: 13.2px;
            text-align: right;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        &_grand {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: right;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        
        &_procesed {
            padding-top: 20px;
            border: 1px solid #A4A4A4;
            display: flex;
            width: 273px;
            height: 50px;
            justify-content: center;
            background-color: red;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: rgba(255, 255, 255, 1);
        }
        &_procesed:hover {
            background-color: #5b71e0;
        }
    }
    &_end {
        width: 600px; 
        height: 50px;
        display: flex; 
        justify-content: space-between; 
        
        &_clear {
            width: 30%;
            border: 1px solid #A4A4A4;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_continue {
            width: 30%;
            border: 1px solid #A4A4A4;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
       
        }
    }
    
}
.krest {
    width: 20px;
    height: 20px;
    padding-top: 15px;
    padding-left: 5px;
}
.text {
    padding-left: 10px;
    padding-bottom: 50px;
    width: 300px;
    text-align: left;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    &_price {
        display: flex; 
        font-family: Lato;
        font-size: 22px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        &_300 {
        color: $colorText;
        margin-left: 5px;
    }
    }
   
}
.foot {    
    padding-top: 95px;
    padding: 20px;
    &_2 {
        width: 1598px;
        height: 350px;
        background-image: url('img/photo_subscribe.svg');
        width: 100%; /* Занимает всю ширину родителя */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
        &_1 {
            width: 359px;
            height: 225px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            text-align: center;
            &_replika {
                font-family: Lato;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
            &_replika2 {
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
        }
        &_2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            &_text1 {
                font-size: 24px;
                font-weight: 700;
                line-height: 28.8px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
            }
            &_text2 {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }
            &_subscribe-container {
                display: flex;
                align-items: center;
                background-color: #f1f1f1;
                border-radius: 25px;
                width: 356px;
                height: 49px;
                box-sizing: border-box;
                margin: 0 auto;
                overflow: hidden;
                &_email-input {
                    background-color: rgb(223, 217, 217);
                    border: none;
                    padding: 10px;
                    width: 256px;
                    height: 100%;
                    outline: none;
                    font-size: 16px;
                    }
                &_subscribe-button {
                    border: none;
                    background-color: #f16d7f;
                    color: white;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-size: 16px;
                    width: 100px;
                    height: 100%;
                    text-align: center;
                }
                &_subscribe-button:hover {
                    background-color: #5b71e0;
                }
            }
        }
    }
    &_3 {
        padding-left: 235px;
        padding-right: 230px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #110f0f;
        height: 50px;
        &_1 {
          color: white;
        }
        &_2 {
            display: flex;
            gap: 10px; 
            max-width: 50%;
            max-height: 50%;
        }
        &_2 > div {
            width: 20px; 
            height: 20px; 
            background-color: white; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

@media (max-width: 1024px) {
    .center{
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    
    .head1 {
        padding-left: 32px;
    }
    .head2 {
        padding-right: 32px;
    }

    .sample_head {
        padding-left: 16px;
    }

    .container_2 {
        display: flex;
        
    }
    // .top1 {
    //     padding-bottom: 65;
    //     width: 1024px;
    // }
    // .top_head {
    //     width: 600px;
    //     height: 368;
    //    }
    // .brand {
    //     grid-column: span 2;
    //     font-size: 44px;
    // }
    // .brand1 {
    //     font-size: 24px;
    // }
    // .brand2 {
    //     font-size: 24px;
    //     color: #F16D7F;
    // }
    // .top2 {
    //     display: grid;
    //     gap: 30px;
    //     grid-template-columns: repeat(3, 363px);
    //     justify-content: center;
    //     padding-top: 65px;
    //     padding-bottom: 110px;
    // }
    // .top3 {
    //     display: grid;
    //     justify-content: center;
    //     padding-top: 48px;
    //     grid-template-columns: repeat(2, 360px); 
    //     gap: 10px; 
    // }


.foot {
    padding-top: 95px;
    padding: 20px;
  }

  .foot_1 {
    background-color: #110f0f;
    color: #FBFBFB;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 610px;
    flex-direction: column;
    flex-wrap: nowrap;

}

.foot_2 {
    width: 1598px;
    height: 448px;
    background-image: url("img/photo_subscribe.svg");
    width: 100%; /* Занимает всю ширину родителя */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: column;
  }
.foot_2_1 {
    width: 359px;
    height: 225px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
  }
  .foot_2_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  .foot_3 {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #110f0f;
    height: 50px;
  }
  .foot_3_1 {
    width: 332px;
    color: white;
    flex-wrap: nowrap;
  }
  .foot_3_2 {
    display: flex;
    gap: 10px;
    max-width: 50%;
    max-height: 50%;
    flex-wrap: nowrap;
  }
  .foot_3_2 > div {
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .foot_2_2_subscribe-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px;
    width: 356px;
    height: 49px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
  }
  .foot_2_2_subscribe-container_email-input {
    background-color: rgb(223, 217, 217);
    border: none;
    padding: 10px;
    width: 256px;
    height: 100%;
    outline: none;
    font-size: 16px;
  }
  .foot_2_2_subscribe-container_subscribe-button {
    border: none;
    background-color: #f16d7f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  .foot_2_2_subscribe-container_subscribe-button:hover {
    background-color: #5b71e0;
  }
}
@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .head_head2 img:nth-child(2),
    .head_head2 img:nth-child(3) {
        display: none;
    }
    .top-head img {
        display: none;
    }
    
    .head2 {
        padding-right: 32px;
    }

    .container {
        justify-content: center;
        }
    .container_2 {
        display: flex;
        flex-direction: column;
        
    }
    // .top1 {
    //     padding-left: 160px;
    //     padding-bottom: 65;
    //     height: 363px;
    //     width: auto;
    // }
    // .top_head {
    //     width: 100%;
    //     height: auto;
    // }
    // .brand {
    //     grid-column: span 2;
    //     font-size: 24px;
    // }
    // .brand1 {
    //     font-size: 14px;
    //     }
    // .brand2 {
    //     font-size: 14px;
    //     color: #F16D7F;
    //     }
    // .top2 {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     flex-wrap: nowrap;
    //     }
    // .top_body4 img {
    //     width: 100%; 
    //     height: 111px;
    //     object-fit: cover;
    //     object-position: center;
    // }
    // .top3 {display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     padding-left: 16px;
    //     }

    // .top3_img { 
    //     width: auto;
    //     display: grid;
    //     justify-content: center;
    // }
   
    // .text {
    //     white-space: auto;
    //     overflow-wrap: break-word;
    //     word-break: break-word;
    // }
    // .top3_text2 {
    //     white-space: auto;
    //     overflow-wrap: break-word;
    //     word-break: break-word;
    //     }
    // img {
    //     max-width: 100%;
    //     height: auto;
    //     }
    
    .foot_3 {
        display: flex;
        flex-direction: column;
       padding-top:32px;
        padding-bottom: 24px;
    }
    .foot_3_1 {
        color: white;
        flex-wrap: wrap;
        padding-left: 32px;
        font-size: 16px;
        color: white;
      }
    }
