@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

.center {
  padding-left: calc(50% - 400px);
  padding-right: calc(50% - 400px);
}

.head {
  background: black;
  display: flex;
  justify-content: space-between;
}
.head_head1 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;
  gap: 20px;
}
.head_head2 {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20%;
  gap: 20px;
}

.sample {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  color: #636363;
  background-color: #f8f3f4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sample_head {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #f8580e;
}
.sample_links {
  display: flex;
}
.sample_link {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  color: #636363;
}
.sample_link:hover {
  color: #f16d7f;
}
.sample_box:last-of-type .sample_link {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  color: #f8580e;
}
.sample_box:not(:last-of-type):after {
  content: "/";
  padding-left: 16px;
  padding-right: 16px;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  color: #636363;
}

.sample_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  gap: 3%;
}

.sample_body_left, .sample_body_right {
  cursor: pointer; /* Указатель курсора при наведении */
}

.sample_foto {
  flex: 2; /* Занимает больше места по сравнению с левой и правой колонками */
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.description {
  display: grid;
  justify-items: center;
}
.description_wc {
  color: #EF5B70;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-bottom: 12px;
}
.description_slogan {
  padding-top: 12px;
  padding-bottom: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.description_content {
  width: 655px;
  display: grid;
  text-align: center;
  padding-bottom: 32px;
}
.description_price-container {
  color: #f8580e;
  width: 56px;
  height: 29.25px;
  top: 1198.21px;
  left: 761.16px;
  gap: 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-bottom: 64px;
}
.description_bredcrumbs {
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 64px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #6F6E6E;
}
.description_bredcrumbs_one {
  display: flex;
  gap: 10px;
}
.description_bredcrumbs_to {
  display: flex;
  gap: 10px;
}
.description_bredcrumbs_free {
  display: flex;
  gap: 10px;
}
.description_card {
  width: 200px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #F16D7F;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #F26376;
}

.top3 {
  display: grid;
  justify-content: center;
  padding-top: 48px;
  grid-template-columns: repeat(3, 363px);
  gap: 10px;
}
.top3_block4_text1 {
  padding-top: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.top3_block4_text2 {
  padding-top: 10px;
  font-size: 14px;
  color: #5D5D5D;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.top3_block4_text3 {
  padding-top: 20px;
  color: #f8580e;
  font-weight: lighter;
}

.foot {
  padding-top: 95px;
  padding: 20px;
}
.foot_2 {
  width: 1598px;
  height: 448px;
  background-image: url("img/photo_subscribe.svg");
  width: 100%; /* Занимает всю ширину родителя */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 100px;
}
.foot_2_1 {
  width: 359px;
  height: 225px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
}
.foot_2_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}
.foot_2_2_subscribe-container {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 25px;
  width: 356px;
  height: 49px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
.foot_2_2_subscribe-container_email-input {
  background-color: rgb(223, 217, 217);
  border: none;
  padding: 10px;
  width: 256px;
  height: 100%;
  outline: none;
  font-size: 16px;
}
.foot_2_2_subscribe-container_subscribe-button {
  border: none;
  background-color: #f16d7f;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 100%;
  text-align: left;
  padding: 10px 10px;
}
.foot_2_2_subscribe-container_subscribe-button:hover {
  background-color: #5b71e0;
}
.foot_3 {
  padding-left: 235px;
  padding-right: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #110f0f;
  height: 50px;
}
.foot_3_1 {
  color: white;
}
.foot_3_2 {
  display: flex;
  gap: 10px;
  max-width: 50%;
  max-height: 50%;
}
.foot_3_2 > div {
  width: 20px;
  height: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .head {
    display: flex;
    justify-content: space-between;
  }
  .head_head1 {
    display: flex;
    padding-left: 20px;
    gap: 20px;
  }
  .head_head2 {
    display: flex;
    padding-right: 20px;
    gap: 20px;
  }
  .description {
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .sample {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top3 {
    display: flex;
    padding-bottom: 140px;
  }
  .top3_img6 {
    display: none; /* Скрываем изображения в блоках */
  }
  .footer6 {
    display: none; /* Скрываем изображения в блоках */
  }
  .top3_block4_text_3 {
    display: none; /* Скрываем изображения в блоках */
  }
  .top3_block4_img, .top3_img {
    margin: 10px 0; /* Отступы между элементами */
  }
  .foot_1 {
    background-color: #110f0f;
    color: #FBFBFB;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 610px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .foot_2 {
    width: 1598px;
    height: 448px;
    background-image: url("img/photo_subscribe.svg");
    width: 100%; /* Занимает всю ширину родителя */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }
  .foot_2_1 {
    width: 359px;
    height: 225px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
  }
  .foot_2_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  .foot_3 {
    padding-left: 235px;
    padding-right: 230px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #110f0f;
    height: 50px;
  }
  .foot_3_1 {
    width: 332px;
    color: white;
    flex-wrap: nowrap;
  }
  .foot_3_2 {
    display: flex;
    gap: 10px;
    max-width: 50%;
    max-height: 50%;
    flex-wrap: nowrap;
  }
  .foot_3_2 > div {
    width: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .foot_2_2_subscribe-container {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    border-radius: 25px;
    width: 356px;
    height: 49px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
  }
  .foot_2_2_subscribe-container_email-input {
    background-color: rgb(223, 217, 217);
    border: none;
    padding: 10px;
    width: 256px;
    height: 100%;
    outline: none;
    font-size: 16px;
  }
  .foot_2_2_subscribe-container_subscribe-button {
    border: none;
    background-color: #f16d7f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  .foot_2_2_subscribe-container_subscribe-button:hover {
    background-color: #5b71e0;
  }
}
@media (max-width: 768px) {
  .null {
    display: none;
  }
  .description_content {
    width: 100%;
    display: flex;
    text-align: center;
    padding-bottom: 32px;
  }
  .sample {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .top3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
  }
  .footer3 {
    display: none;
  }
  .footer6 {
    display: block;
  }
  .top3_block4_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top3_block4_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top3_block4_text_2 {
    max-width: 70%; /* Отступы между элементами */
  }
  .top3_img6 {
    display: block; /* Показываем изображение */
    width: 100%; /* Делаем изображение отзывчивым */
    height: auto; /* Сохраняем соотношение сторон */
  }
  .top3_block4_text {
    padding-left: 40px;
    display: block; /* Показываем изображение */
    width: 100%; /* Делаем изображение отзывчивым */
    height: auto; /* Сохраняем соотношение сторон */
  }
  .top3_block4_text_2 {
    display: block; /* Показываем изображение */
    width: 100%; /* Делаем изображение отзывчивым */
    height: auto; /* Сохраняем соотношение сторон */
  }
  .top3_block4_text_3 {
    display: block; /* Показываем изображение */
  }
  .foot_2_1 {
    font-size: 16px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    text-align: center;
    font-size: 14px;
  }
  .foot_2_2_text1 {
    font-size: 14px;
  }
  .foot_2_2_text2 {
    text-align: center;
    font-size: 14px;
  }
  .foot_2_2_subscribe-container {
    width: 280px;
  }
  .foot_2_2_subscribe-container_email-input {
    width: 200px;
    font-size: 12px;
  }
  .foot_2_2_subscribe-container_subscribe-button {
    width: 80px;
    font-size: 12px;
    padding-left: 10px;
  }
  .foot_3 {
    display: flex;
    flex-direction: column;
    height: 60px;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
  }
  .foot_3_1 {
    width: 252px;
    color: white;
    flex-wrap: wrap;
    padding-left: 32px;
    font-size: 16px;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */